<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <title>MuseVote</title>
</head>

<body>
    <!-- Activity 4: Insert code here to include the header (found in the partials folder) to your page -->
    <%- include('partials/navbar') %>
        <h1 class="text-center my-4">Vote Your Favorite Songs Today!</h1>
        <div class="text-center">
            <button class="btn btn-primary">Browse Songs</button>
            <button class="btn btn-primary">Start Voting</button>
        </div>
        <div class="text-center mt-4">
            <h2>Top 3 Trending Songs</h2>
            
        </div>
        <div class="text-center mt-4">
            <h2>Featured Genres</h2>
        </div>
        <div class="text-center mt-4">
            <h2>Songs Stats</h2>
            <p>Total Songs:</p>
            <p>Total Votes:</p>
        </div>
</body>

</html>